:root {
    --header-font: 'Racing Sans One', Arial, sans-serif;
    --text-font: 'Montserrat', Arial, sans-serif;
    --dark-blue: #201F33;
    --medium-blue: #1982Cf;
    --light-blue: #D3F7F8;
}

h2 {
    text-align: center;
    font-family: var(--header-font);
    font-size: 2rem;
}

.hide {
    display: none;
}


/* header */
.header {
    background-color: var(--light-blue);
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}

.logo a, .nav a {
    font-family: var(--header-font);
    text-decoration: none;
    color: var(--dark-blue); 
    font-size: 1.3rem;
    padding-right: 10px;
    padding-left: 10px;   
}

/* footer */
.footer {
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
    padding: .5rem;    
    color: var(--dark-blue);
    font-size: 1.1rem;
    font-family: var(--header-font);
}

/* index.html */
.hero img {
    width: 100%;
    height: 500px;
    object-fit: cover;    
}

.register-link {
    background-color: var(--dark-blue);
    color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-family: var(--text-font);
    text-align: center;
}

.register-link a {
    color: white;
}


/*index.html, register.html, state-cuts.html */

#login-form, #registration, #dates-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

legend {
    font-family: var(--header-font);
    font-size: 1.2rem;
}

label {
    display: block;
    padding: 0.5rem;
    font-family: var(--text-font);
    font-size: 1rem;
}

input[type=email], 
input[type=password], 
input[type=text], 
input[type=date] {
    height: 40px;
    width: 200px;
    font-size: 1rem;
    font-family: var(--text-font);
}

input[type="submit"] {
    border: none;
    background: black;
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 300px;
    margin: 2rem auto;
    box-shadow: 1px 1px 4px #999;
    font-family: var(--text-font), sans-serif;
    font-size: 1rem;
    display: block;
}

#login-submit, #registration-submit {
    display: flex;
    align-items: center;
    width: 100%;
}

#login-message, #registration-message {
    font-size: 1rem;
    font-family: var(--text-font);
    text-align: center;
}

/* swimmer-profiles.html */
#user-email {
    font-family: var(--text-font);
    display: flex;    
    justify-content: center;
}

#button-section {
    display: flex;
    border-bottom: solid 2px var(--medium-blue);
}

.new-swimmer-form {
    border-top: solid 2px var(--medium-blue);
    padding-top: 20px;
}

button {
    border: none;
    background: black;
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 300px;
    margin: 2rem auto;
    box-shadow: 1px 1px 4px #999;
    font-family: var(--text-font), sans-serif;
    font-size: 1rem;
    display: block;
}

.swimmer-profile h3 {
    margin-bottom: 0;
    margin-top: 0;
}

.swimmer-profile {
    font-family: var(--text-font);
}

#short-course-times, #long-course-times {
    list-style: none;
}

#template-swimmer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
}

/* state-cuts.html */
#existing-state-dates {
    font-family: var(--text-font);
    text-align: center;
}

#state-dates {
    border-bottom: solid 4px var(--medium-blue);
}

.swimmer-div {
    font-family: var(--text-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 2px var(--medium-blue);
    margin-bottom: 20px;
}

.swimmer-div h3, .swimmer-div p {
    margin-top: 0;
}

.sc-state-table, .lc-state-table, .history-table {
    width: 80%;
    border-collapse: collapse;
    table-layout: fixed;
    font-family: var(--text-font);
    margin-bottom: 20px;
}

.sc-state-table th,
.lc-state-table th,
.history-table th,
.sc-state-table td,
.lc-state-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.sc-state-table th,
.lc-state-table th {
    word-wrap: break-word;
    white-space: normal;
    width: 20%;
    background-color: var(--light-blue);
}

.no-time {
    background-color: rgb(243, 241, 241);
}

.qualified {
    background-color: rgb(220, 243, 220);
}

/* swimmer-history.html */
.history-table td {
    border-left: 1px solid black;
    border-right: 1px solid black; 
    
    padding: 8px;
    text-align: center;
}

.history-table td.has-top-border {
    border-top: 1px solid black;
}

.history-table {
    border-bottom: 1px solid black;
}

#history-tables h3 {
    font-family: var(--text-font);
    font-size: 1.5rem;
    text-align: center;
}

.swimmer-history-div {
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.history-table th {
    background-color: var(--light-blue);
}
